extends layout

block content
  .jumbotron.text-center
    .container
      h1 !{ tr("The Best in International Food") }
      p !{ tr("Food from around the world") }
  .recipe-nav(data-spy='affix', data-offset-top='480')
    .container.text-centered
      #nav-categories
        ul.nav.nav-tabs
          each cat in categories
            li 
              a(href='##{cat.id}') !{ tr(cat.name) }
  .content
    .container

      each cat in categories
        a.anchor(id='#{cat.id}') &nbsp;
        .page-header
          h3 !{ tr(cat.name) }
        .row
          .col-lg-10.col-lg-offset-1
            .row
              each rec in recipes[cat.id]
                .col-lg-4.col-md-6
                  a.panel.panel-default.recipe-thumbnail(href='/recipe/#{rec.id}')
                    img.img-responsive(src='#{rec.image}')
                    .panel-body
                      h4 !{ tr(rec.name) }
                      p !{ tr(rec.description) }
